.logo {
    color: blue;
    font-size: 50px;
    cursor: pointer;
  }  


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 18%;
    padding-right: 18%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 30px;
}

nav ul li a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #f9004d;
    transition: 0.3s;
}